* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container__lg {
  max-width: 960px;
  margin: auto;
}

.container__wrapper {
  margin-left: 30px;
  margin-right: 30px;
}

.cup {
  cursor: pointer;
}

.brand__logo {
  display: inline-block;
  color: #999999;
  margin-top: 15px;
}

@media (min-width: 700px) {
  .brand__logo {
    margin-top: -20px;
  }
}

header .social__link--wraper {
  position: relative;
}

header .social__link--wraper::before {
  height: 6px;
  width: 100%;
  background: #81b300;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}

header .social__link--wraper > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 250px;
  margin-left: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #81b300;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px;
  border-radius: 0 0 20px 20px;
}

header .social__link--wraper > ul button {
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50%;
  background: #1f1f1f;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .social__link--wraper > ul button:hover {
  background: var(--social-color);
}

header .above__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .above__nav small {
  padding-right: 15px;
  color: #999999;
}

header .above__nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .above__nav > ul li,
header .above__nav > ul a {
  color: #81b300;
  margin-right: 4px;
}

header nav {
  background: #81b300;
  padding: 25px 0;
  margin: 25px 0;
}

header nav .container__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .container__wrapper > .nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header nav .container__wrapper > .nav__ul a {
  color: #ffffff;
  margin-right: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header nav .container__wrapper > .nav__ul a:hover {
  color: #000;
}

header nav .container__wrapper .nav__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .container__wrapper .nav__search * {
  padding: 8px;
  border: none;
  outline: none;
}

header nav .container__wrapper .nav__search button {
  color: #81b300;
  cursor: pointer;
  background: #fff;
  outline: 1px solid gray;
}

main .section__carousel .swiper__wrapper__main {
  background: #f2f2f2;
  position: relative;
  padding: 25px 0;
}

main .section__carousel .swiper-container {
  width: 100%;
  height: 100%;
}

main .section__carousel .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100% !important;
  padding: 10px;
  cursor: move;
}

main .section__carousel .swiper-slide img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

main .section__carousel .swiper__control {
  position: relative;
  margin: 25px 0;
}

main .section__carousel .swiper__control .swiper-pagination {
  width: 100%;
  left: 0;
}

main .section__carousel .swiper__control .swiper-pagination .swiper-pagination-bullet {
  margin-right: 8px;
}

main .section__carousel .swiper__control .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}

main .section__carousel .swiper__control .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #000;
}

main .section__carousel .swiper__control .swiper-button-prev {
  left: 37%;
}

main .section__carousel .swiper__control .swiper-button-next {
  right: 37%;
}

main .section__list .list__row {
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

main .section__list .list__row > * {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  text-align: center;
  padding: 10px;
}

@media (max-width: 700px) {
  main .section__list .list__row > * {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

main .section__list .list__row > * img {
  display: inline-block;
}

main .section__list .list__row > * a {
  color: #81b300;
  font-size: 18px;
  display: inline-block;
  padding: 10px 0;
}

main .section__list .list__row > * p {
  font-size: 13px;
  color: #999999;
  line-height: 20px;
}

main .section__list .list__row.list__card__row > * {
  text-align: left !important;
}

main .section__list .list__row.list__card__row > * .img__wrapper {
  padding: 4px;
  border: 1px solid #e2e2e2;
}

main .section__list .list__row.list__card__row > * .img__wrapper img {
  width: 100%;
}

main .section__list .list__row.list__card__row > * .project__title {
  color: #444;
  font-size: 14px;
  font-weight: normal;
}

main .section__list .list__row.list__card__row > * .view__details {
  text-align: right;
}

main .section__list .list__row.list__card__row > * .view__details a {
  font-size: 13px;
}

main .section__list hr {
  background-color: #e2e2e2;
  border: none;
  height: 2px;
  width: 100%;
}

footer .bg__dark {
  background: #3b3b3b;
}

footer .bg__dark--2 {
  background: #2E2E2E;
}

footer .list__row {
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

footer .list__row > * {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding: 10px;
}

@media (max-width: 700px) {
  footer .list__row > * {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

footer .list__row > * h3 {
  color: #666666;
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 25px;
}

footer .list__row > * ul > * {
  color: #999999;
  font-size: 13px;
  line-height: 20px;
}

footer .list__row .quick__links a {
  color: #81b300;
  padding: 6px 0;
  display: block;
  border-bottom: 1px solid #484848;
}

footer .list__row .blog__list .blog__title {
  color: #999;
  margin-bottom: 0;
}

footer .list__row .blog__list h4 {
  font-size: 11px;
}

footer .list__row .blog__list p {
  font-size: 12px;
}

footer .list__row .blog__list .details {
  text-align: right;
}

footer .list__row .blog__list .details a {
  color: #81b300;
}

footer .list__row .news__later--form input {
  background: #1f1f1f;
  color: #999;
  border: none;
  outline: none;
  display: inline-block;
  margin-bottom: 15px;
  padding: 8px;
  border-radius: 8px;
}

footer .list__row .news__later--form input[type="submit"] {
  cursor: pointer;
  color: #81b300;
}

footer .list__row__last {
  padding: 20px 0;
  font-size: 12px;
  color: #737373;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=main.css.map */